.sponsor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.sponsor-details-logo {
  max-width: 800px;
  height: auto;
}

.sponsor-details p {
  text-align: center;
  font-size: 18px;
  color: #CCCCCC;
}
